{% extends "blog/base.html" %}
{%load static %}

{% block content %}
            <div class="col-sm-10">
                <h3 class="text-white my-5">About page</h3>
            </div>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Natus at accusantium, error amet voluptatibus nemo esse et eaque asperiores 
                odio eum consectetur nisi voluptatem qui magni officiis? 
                Tempora, architecto alias! Nemo excepturi animi architecto quod sunt 
                adipisci magni omnis. Quo accusantium rem ipsum est ex necessitatibus, 
                laborum earum fuga nemo odit rerum voluptatum adipisci explicabo aliquam ea 
                aspernatur? Debitis, quas.</p>

                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                    Natus at accusantium, error amet voluptatibus nemo esse et eaque asperiores 
                    odio eum consectetur nisi voluptatem qui magni officiis? 
                    Tempora, architecto alias! Nemo excepturi animi architecto quod sunt 
                    adipisci magni omnis. Quo accusantium rem ipsum est ex necessitatibus, 
                    laborum earum fuga nemo odit rerum voluptatum adipisci explicabo aliquam ea 
                    aspernatur? Debitis, quas.</p>
    




{% endblock content %}

